:host {
  padding-inline: 16px;
  padding-block: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}


.name-container {
  padding-right: 32px;
  padding-left: 8px;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.name {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
}

.point {
  width: 4px;
  height: 4px;
  background-color: var(--yellow);
}
