

.label {
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  opacity: .7;

  &:hover {
    color: var(--white);
    font-weight: 400;
    opacity: .9;
  }

  &.active {
    color: var(--white);
    font-weight: 600;
    opacity: 1;
  }
}

.item-hover-en, .item-hover-fr {
  top: -5px;
  height: 38px;
  display: none;
}

.label:hover~.item-hover-en ,
.label:hover~.item-hover-fr {
  display: block;
}

.label:nth-child(1):hover~.item-hover-en {
  left: 0;
}

.label:nth-child(2):hover~.item-hover-en {
  left: 100px;
}

.label:nth-child(3):hover~.item-hover-en {
  left: 200px;
  width: 100px;
}

.label:nth-child(4):hover~.item-hover-en {
  left: 300px;
}

.label:nth-child(1):hover~.item-hover-fr {
  left: 0;
}

.label:nth-child(2):hover~.item-hover-fr {
  left: 100px;
}

.label:nth-child(3):hover~.item-hover-fr {
  left: 200px;
}

.label:nth-child(4):hover~.item-hover-fr {
  left: 300px;
}

