

.label {
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  opacity: .7;

  &:hover {
    color: var(--white);
    font-weight: 400;
    opacity: .9;
  }

  &.active {
    color: var(--white);
    font-weight: 600;
    opacity: 1;
  }
}


.label:nth-child(1):hover~.item-hover-en {
  left: 0;
  width: 65px;
}

.label:nth-child(2):hover~.item-hover-en {
  left: 68px;
  width: 70px;
}

.label:nth-child(3):hover~.item-hover-en {
  left: 141px;
  width: 93px;
}

.label:nth-child(4):hover~.item-hover-en {
  left: 235px;
  width: 60px;
}


.label:nth-child(1):hover~.item-hover-fr {
  left: 0;
  width: 81px;
}

.label:nth-child(2):hover~.item-hover-fr {
  left: 84px;
  width: 92px;
}

.label:nth-child(3):hover~.item-hover-fr {
  left: 178px;
  width: 82px;
}

.label:nth-child(4):hover~.item-hover-fr {
  left: 263px;
  width: 60px;
}

