@use 'breakpoints' as *;

.content-width {
  @include xs {
    max-width: 100vw;
  }

  @include sm {
    max-width: 100vw;
  }

  @include md {
    max-width: 100vw;
  }

  @include lg {
    max-width: 90vw;
  }

  @include xl {
    max-width: 85vw;
  }

  @include xxl {
    max-width: 80vw;
  }
}
