@use 'breakpoints' as *;

.content-width {
  @include xs {
    max-width: 100vw;
  }

  @include sm {
    max-width: 100vw;
  }

  @include md {
    max-width: 100vw;
  }

  @include lg {
    max-width: 90vw;
  }

  @include xl {
    max-width: 85vw;
  }

  @include xxl {
    max-width: 80vw;
  }
}

.divider {
  width: 100%;
  height: var(--line-thickness);
  background-color: var(--line-color);
}

.vertical-divider {
  width: var(--line-thickness);
  height: fit-content;
  background-color: var(--line-color);
}

.bordered{
  border: var(--line-thickness) solid var(--line-color);
}

.glass {
  background: rgba(16, 16, 16, 0.94);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(150px);
}
