// region Border
@mixin full-border {
  border: var(--line-thickness) solid var(--line-color);
}

@mixin right-border {
  border-right: var(--line-thickness) solid var(--line-color);
}

@mixin left-border {
  border-left: var(--line-thickness) solid var(--line-color);
}

@mixin top-border {
  border-top: var(--line-thickness) solid var(--line-color);
}

@mixin bottom-border {
  border-bottom: var(--line-thickness) solid var(--line-color);
}

// endregion

// region FlexBox
@mixin columns($items-position: center, $content-position: center) {
  display: flex;
  flex-direction: column;
  align-items: $items-position;
  justify-content: $content-position;
}

@mixin rows($items-position: center, $content-position: center) {
  display: flex;
  align-items: $items-position;
  justify-content: $content-position;
}

// endregion

// region Size

@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

@mixin full-container {
  width: 100%;
  height: 100%;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// endregion

// region Glass Effect

@mixin glass-effect {
  background: rgba(16, 16, 16, 0.94);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(150px);
}

// endregion

