/* You can add global styles to this file, and also import other style files */

@use 'imports.css';
@use 'globals';

:root {
  --background-color: #000000;

  --white: #ffffff;
  --black: #101010;
  --light-black: rgba(23, 23, 23, 0.7);
  --grey: #8f8f8f;
  --light-grey: rgba(196, 196, 196, 0.22);
  --yellow: #ffea00;
  --light-yellow: rgba(255, 234, 0, 0.4);


  --line-thickness: 0.005rem;
  --line-color: rgba(255, 255, 255, 0.3);

}

html, body {
  margin: 0;
  padding: 0;

  /* TEXT */
  font-family: Lato, sans-serif;
  font-weight: 100;
  color:var(--grey);
  letter-spacing: 1px;

  /* SCROLL */
  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
  }

}
