@use 'mixins' as *;

.background {
  @include full-screen;
  position: relative;
}

.background__content {
  @include full-screen;
  position: absolute;
  top: 0;
  background-color: black;
  background-image: radial-gradient(
    circle farthest-side at var(--bg-light-x, 100px) var(--bg-light-y, 100px),
    rgba(170, 170, 170, 0.25) 0%,
    transparent 100%
  );
}

.background__image {
  height: 100vh;

  img {
    opacity: 0.15;
    height: 100vh;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
  }
}
