@use 'mixins' as *;
@use 'breakpoints' as *;
@use 'functions' as *;
@use 'variables' as *;
@use'sass:string';
@use'sass:list';
@use 'sass:map';
@use "sass:selector";



/**
Build the stacks__category__grid__item css class by item index
The grid-column is always equal to 1
while the grid-row is equal to the value of --item-line- variable .
This variable is set in the stacks.ts file
**/
@mixin stacks_category_items {
  @for $i from 0 through $stack_categories_length {
    .stacks__category__grid__item__#{$i} {
      @include xs {
        grid-row: span var(--item-line-#{$i}-xs);
      }

      @media(width >= map.get($breakpoints, sm)) {
        grid-row: span var(--item-line-#{$i});
      }

      grid-column: span 1;

      background-color: var(--light-grey);
      padding-bottom: unit(3);

      &:hover {
        background-color: var(--light-yellow);

        .stacks__category__label {
          font-weight: bold;
          color: var(--black);
        }

        tech-stack-item {
          background-color: var(--black);
          border-radius: unit();
        }
      }
    }
  }
}

:host {
  @include bottom-border;
  width: 100%;
  height: fit-content;

}

.stacks__category__label {
  width: 100%;
  text-transform: uppercase;
  padding-left: unit(3);
  padding-top: unit(2);
  padding-bottom: unit(2);
  font-weight: lighter;
  color: var(--white);
}
.stacks__category__grid {


  @include xs {
    grid-template-columns: repeat(var(--cols-number-xs), 1fr);
    grid-template-rows: repeat(var(--rows-number-xs), 1fr);
  }
  @include sm {
    grid-template-columns: repeat(var(--cols-number-sm), 1fr);
    grid-template-rows: repeat(var(--rows-number-sm), 1fr);
  }
  @include md {
    grid-template-columns: repeat(var(--cols-number-md), 1fr);
    grid-template-rows: repeat(var(--rows-number-md), 1fr);
  }
  @include lg {
    grid-template-columns: repeat(var(--cols-number-lg), 1fr);
    grid-template-rows: repeat(var(--rows-number-lg), 1fr);
  }
  @include xl {
    grid-template-columns: repeat(var(--cols-number-xl), 1fr);
    grid-template-rows: repeat(var(--rows-number-xl), 1fr);
  }
  @include xxl {
    grid-template-columns: repeat(var(--cols-number-xxl), 1fr);
    grid-template-rows: repeat(var(--rows-number-xxl), 1fr);
  }


  display: grid;
  gap: unit(2);
  padding: unit(12) unit(4);
  width: 100%;
}

@include stacks_category_items;

.stack__items__grid {

  display: grid;

  @include xs {
    grid-template-columns: repeat(var(--stack-cols-number-xs), 1fr);
  }

  @media(width >= map.get($breakpoints, sm)) {
    grid-template-columns: repeat(var(--stack-cols-number), 1fr);
  }
  gap: unit(4);
  padding: 0 unit(4);

}


