@use 'mixins' as *;
@use 'variables' as *;
@use 'breakpoints' as *;

:host {
  @include rows(center, start);
  width: 100%;
}

.section__title {
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 1.8rem;
  font-weight: 100;
  color: var(--light-grey);
  font-family: $bold_font;
  letter-spacing: 2.2px;
  opacity: 0.8;
  min-width: max-content;
}

.line__top {
  @include mobile {
    display: none;
  }

  @include top-border;
  width: 8%;
  height: 36px;
}

.line__bottom {
  @include bottom-border;
  height: 36px;
  width: stretch;
}



