@use 'breakpoints' as bp;
@use 'mixins' as *;
@use 'functions' as *;

$bloc_height: 750px;
$bloc_width: 75%;

$gap_on_mobile: 10px;
$size_on_mobile: calc(100% - 2*$gap_on_mobile);


@mixin detail_bloc($top, $left, $width, $height) {

  @include bp.mobile {
    top: $gap_on_mobile;
    left: $gap_on_mobile;
    opacity: 1;
    width: $size_on_mobile;
    height: $size_on_mobile;
  }

  @include bp.tablet {
    top: calc(50% - $bloc_height/2);
    left: calc(50% - $bloc_width/2);
    opacity: 1;
    width: $bloc_width;
    height: $bloc_height;
  }

  @include bp.desktop {
    top: calc(50% - $bloc_height/2);
    left: calc(50% - $bloc_width/2);
    opacity: 1;
    width: $bloc_width;
    height: $bloc_height;
  }
}

@mixin icon {
  aspect-ratio: 1;
  border-radius: 4px;
}


:host:hover{
  .tooltip {
    display: block;
  }
  z-index: 1;
}

.tooltip {
  @include full-border;

  position: absolute;
  z-index: 2;
  bottom: unit(-7.2);
  min-width: 100%;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  padding: unit() unit(2.5) ;
  text-align: center;
  background-color: var(--white);
  color: var(--black);
  border-radius: unit();
  font-size: .7rem;
  font-weight: 400;
  display: none;
  max-lines: 1;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.5);

  &.tooltip_language {
    background-color: var(--yellow);
    color: var(--black);
  }

}

.stack__icon {
  @include rows;
  @include icon;

  background-color: var(--light-black);
  grid-column: span 1;
  padding: unit(2);
  margin: unit(1);
  cursor: pointer;
  filter:  saturate(0);
  box-shadow: inset 2px 2px 4px 2px rgb(0, 0, 0, 0.5);

  &:hover {
    position: relative;
    filter: saturate(1);
    box-shadow: 2px 2px 4px 2px rgb(0, 0, 0, 0.5);
    border: var(--line-thickness) solid var(--white);
  }

  &.hovered {
    background-color: var(--black);
  }

  &.hovered:not(:hover) {
    box-shadow: inset 2px 2px 4px 2px rgb(0, 0, 0);
  }

  &.language:hover{
    border: var(--line-thickness) solid var(--yellow);
  }
}

.stack__active {
  filter: saturate(1);
  opacity: 1;
}

.voile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--white);
  opacity: 15%;
  z-index: 1;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
}

.stack__detail {
  @include full-container;
  position: relative;
}

.close__btn {
  @include left-border;
  @include right-border;
  @include bottom-border;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  cursor: pointer;

  font-size: .75rem;
  color: var(--white);
  font-weight: lighter;

  opacity: 40%;

  &:hover {
    opacity: 100%;
  }
}

.opened {

  @include detail_bloc(
      calc(50% - $bloc_height/2),
      calc(50% - $bloc_width/2),
      $bloc_width,
      $bloc_height
  );

  animation: open_detail .5s cubic-bezier(.3, 1.5, .25, 1);

  .icon {
    @include icon;
    padding: 4px;
    animation: open_detail_icon .5s cubic-bezier(.3, 1.5, .25, 1);
    img {
      scale: .6;
      animation: open_detail_icon_img .5s cubic-bezier(.3, 1.5, .25, 1);
    }
  }

}

.closed {
  @include detail_bloc(
      var(--position-top),
      var(--position-left),
      var(--width),
      var(--height)
  );

  background-color: var(--light-grey);
  animation: close_detail .5s cubic-bezier(.3, 1.1, .25, 1);

  .icon {
    @include icon;
    padding: 8px;
    animation: close_detail_icon .5s cubic-bezier(.3, 1.1, .25, 1);
    img {
      scale: 1;
      animation: close_detail_icon_img .5s cubic-bezier(.3, 1.1, .25, 1);
    }
  }
}

@include bp.mobile {
  @keyframes open_detail {
    0% {
      top: var(--position-top);
      left: var(--position-left);
      opacity: 0.2;
      width: var(--width);
      height: var(--height);
    }
    100% {
      top: $gap_on_mobile;
      left: $gap_on_mobile;
      opacity: 1;
      width: $size_on_mobile;
      height: $size_on_mobile;
    }
  }

  @keyframes close_detail {
    0% {
      top: $gap_on_mobile;
      left: $gap_on_mobile;
      opacity: 1;
      width: $size_on_mobile;
      height: $size_on_mobile;
      z-index: 2;

    }
    99.9% {
      top: var(--position-top);
      left: var(--position-left);
      opacity: 1;
      width: var(--width);
      height: var(--height);
    }
    100%{
      background-color: var(--light-grey);
    }

  }
}

@include bp.tablet {
  @keyframes open_detail {
    0% {
      top: var(--position-top);
      left: var(--position-left);
      opacity: 0.2;
      width: var(--width);
      height: var(--height);
    }
    100% {
      top: calc(50% - $bloc_height/2);
      left: calc(50% - $bloc_width/2);
      opacity: 1;
      width: $bloc_width;
      height: $bloc_height;
    }
  }
  @keyframes close_detail {
    0% {
      top: calc(50% - $bloc_height/2);
      left: calc(50% - $bloc_width/2);
      opacity: 1;
      width: $bloc_width;
      height: $bloc_height;
      z-index: 2;

    }
    99.9% {
      top: var(--position-top);
      left: var(--position-left);
      opacity: 1;
      width: var(--width);
      height: var(--height);
    }
    100%{
      background-color: var(--light-grey);
    }

  }
}

@include bp.desktop {
  @keyframes open_detail {
    0% {
      top: var(--position-top);
      left: var(--position-left);
      opacity: 0.2;
      width: var(--width);
      height: var(--height);
    }
    100% {
      top: calc(50% - $bloc_height/2);
      left: calc(50% - $bloc_width/2);
      opacity: 1;
      width: $bloc_width;
      height: $bloc_height;
    }
  }
  @keyframes close_detail {
    0% {
      top: calc(50% - $bloc_height/2);
      left: calc(50% - $bloc_width/2);
      opacity: 1;
      width: $bloc_width;
      height: $bloc_height;
      z-index: 2;

    }
    99.9% {
      top: var(--position-top);
      left: var(--position-left);
      opacity: 1;
      width: var(--width);
      height: var(--height);
    }
    100%{
      background-color: var(--light-grey);
    }

  }
}

@keyframes open_detail_icon {
  0% {
    padding: 8px;
  }
  100% {
    padding: 4px;
  }
}

@keyframes open_detail_icon_img {
  0% {
    scale: 1;
  }
  100% {
    scale: .6;
  }
}

@keyframes close_detail_icon {
  0% {
    padding: 4px;
  }
  99.9% {
    padding: 8px;
  }
}

@keyframes close_detail_icon_img {
  0% {
    scale: .6;
  }
  99.9% {
    scale: 1;
  }
}

