<div
  #stack_icon
  class="rounded bg-(--light-grey) flex items-center justify-center col-span-1 p-2 aspect-square cursor-pointer saturate-0 hover:saturate-100"
  [ngClass]="active() ? 'opacity-20' : ''"
  (click)="open()"
>
  <img
    [ngSrc]="stack().logo" width="40" height="40" [alt]="stack().name + ' icon'"/>

</div>

@if (active()) {
  <div class="absolute top-0 left-0 w-full h-full bg-white opacity-15  z-1 backdrop-blur-lg "></div>
}

<div #stack_detail>

  @if (active()) {
    <div class="relative w-full h-full">
      <div class="rounded aspect-square icon">
        <img [ngSrc]="stack().logo" width="40" height="40" [alt]="stack().name + ' icon'"/>
      </div>

      <div
        class="absolute top-0 right-0 py-2 px-4 bordered-left bordered-bottom bordered-right
        text-xs text-white text-light
        opacity-40 hover:opacity-100
        cursor-pointer"
        (click)="close($event)"
      >
        <translated value="close"/>
      </div>
    </div>
  }
</div>



