@use 'mixins' as *;
@use 'functions' as *;
.icon {
  @include columns(end, end);
  width: 100%;
  padding-right: 16px;
  cursor: pointer;
}

.menu-label {
  font-size: .45rem;
  font-weight: 600;
  color: var(--white);

  &.close {
    font-size: .42rem;
    margin-top: unit(1/4);
    color: var(--white);
  }
}

.x {
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey);
}

.bar {
  width: 26px;
  height: 2px;
  background-color: var(--white);

  &.first {
    margin-bottom: 3px;
  }
}

.menu-box {
  @include glass-effect;
  @include columns(center, space-between);
  @include full-border;

  position: absolute;
  top: unit(16.5);
  right: 0;
  width: 100%;
  z-index: 2;
  padding-top: unit(4);
  height: calc(100vh - #{unit(16.5)});

}

.lang-selector-container {
  @include rows(center, end);
  width: 100%;
  margin-top: 24px;
  padding: 0;
  background-color: var(--black);
  border-top: var(--line-thickness) solid var(--line-color);
}
