<div
  class="w-full flex flex-col items-end justify-end pr-4 cursor-pointer"
  (click)="toggleMenu()"
>
  @if (!isMenuOpened()) {
    <div class="bar first"></div>
    <div class="bar"></div>
    <div class="menu-label">MENU</div>
  } @else {
    <div class="bar"></div>
    <div class="menu-label close">CLOSE</div>
  }

</div>

@if (isMenuOpened()) {
  <div class="absolute top-19 right-1 z-10  pt-6 w-1/2 menu-box">
    <menu-items />
    <div class="py-0 px-0 mt-6 justify-end flex lang-selector-container">
      <menu-lang-selector />
    </div>
  </div>
}

