@use 'mixins' as *;

.icon {
  @include columns(end, end);
  width: 100%;
  padding-right: 16px;
  cursor: pointer;
}

.menu-label {
  font-size: .45rem;
  font-weight: 600;
  color: var(--white);

  &.close {
    font-size: .44rem;
    margin-top: 3px;
    color: var(--white);
  }
}

.x {
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey);
}

.bar {
  width: 26px;
  height: 2px;
  background-color: var(--white);

  &.first {
    margin-bottom: 3px;
  }
}

.menu-box {
  @include glass-effect;

  position: absolute;
  top: 68px;
  right: 0;
  width: 100%;
  z-index: 2;
  padding-top: 16px;

}

.lang-selector-container {
  @include rows(center, end);
  margin-top: 24px;
  padding: 0;
  background-color: var(--black);
  border-top: var(--line-thickness) solid var(--line-color);
}
